body {
  font: sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

// Heatmap
.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

header {
  background-color: hsla(0, 0%, 0%, 0.6);
  top: 0;
  left: 0;
  width: 100%;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav1 {
  border: none;
  color: #dedede;
  padding-left: 2em;
}

.nav2 {
  display: flex;
}

ul a {
  color: white;
  text-decoration: none;
}

header ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex: 1;
  margin: auto;
}

header li {
  padding-right: 2em;
}

.main {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 1em;
  font: 10px sans-serif;
}
